<div class="poke-info" *ngIf="pokemon">
    <div class="poke-info__close" appHidePokeInfo></div>
    <div class="poke-info__image">
        <img src="{{ pokemon.image}}" alt="">
    </div>
    <div class="poke-info__name">{{ pokemon.name }}</div>
    <table class="poke-info__table">
        <tr>
            <th>Type</th>
            <th>Fire</th>
        </tr>
        <tr *ngFor="let stat of pokemon.stats">
            <td>{{stat.stat.name}}</td>
            <td>{{stat.base_stat}}</td>
        </tr>
    </table>
</div>